body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

/*navigation*/

.header{
    top: 0px;
    position: sticky;
    z-index: 2;
    }

    .navbar{
        overflow: hidden;
        background-color: #000;
        margin: 0;
        padding: 0;
    }

    .navbar ul { 
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    .navbar li {
        display: inline-block;
    }
    .navbar a{
    text-decoration: none;
    color: #fff;
    width: 100%;
    display: block;
    padding: 20px 25px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
    .navbar a:hover{
        background-color: #fff;
        color: black;
        padding: 10px 5px;
        margin: 10px 5px;
        transition: 0.3s;
    }
    .profile_pic{
        display: inline-flex;
        margin: auto 40px;
}
    .profile_pic img {
        border-radius: 50%;
        width: 180px;
    }
    .contacts {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-bottom: 15px;
    }

    .resumeHead{
        background: bisque;
        display: flex;
        justify-content: space-between;
        height: 210px;
        border: none;
        box-shadow: -6px 29px 18px #777575;
    }
    .myName {
        text-align: center;
}
    .myName h1 {
        font-size: 40px
    }
    .title {
        font-family: sans-serif, Verdana;
        font-size: 2rem;
        margin-bottom: -8px;
}
    .contact_info {
        color: black;
        text-align: justify;
        font-size: 14px;
        padding: 0px 30px;
}
    .bold {
        font-weight: 600;
    }
    span {
        font-weight: 500
    }

    .contact_info ul{
        list-style: none;
        padding-left: 0px;
        margin-bottom: 10px;
        margin-top: 10px;

    }
    .backdrop {
        background: white;
        padding: 10px;
        width: 60%;
        margin: 100px auto

}
    .holder {
        background: whitesmoke;
        border: none;
        box-shadow: -6px 29px 18px #777575;
        padding: 34px 35px;
    }
    .semi-bold {
        font-weight: 700;
    }
      hr { 
        height: 2px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 3.75), rgba(0, 0, 0, 0));
        padding: 0;
        border: none; 
    }