body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
   
   
}
    .resume_profile img {
        float: right;
        border-radius: 50%;
        width: 200px;
        border: 1px solid;
        margin-top: 24px;
        margin-right: 40px;
    }
    .myName {
        transform: translate(8%, 0%);
        position: absolute;
        width: 385px;
        padding: 2px;
        top: -9px;
        font-size: 24px;
    }
    .kodego {
        transform: translate(0%, 330%);
        position: absolute;
        width: 335px;
        padding: 2px;
        left: 41px;
        top: -14px;
}

    .title {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 2em;
    }
    .contact_info {
        background: gainsboro;
        color: black;
        height: 172px;
        margin-right: -2px;
        margin-top: -9px;
        padding-top: 78px;
        box-shadow: 7px 12px 20px #777575;
        margin-bottom: -6px;
}

    /*navigation*/

    .container{
    top: 0px;
    position: sticky;
    z-index: 2;
    }

    .navbar{
        overflow: hidden;
        background-color: #333;
    }

    .navbar ul { 
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    .navbar li {
        display: inline-block;
    }
    .navbar a{
    text-decoration: none;
    color: #fff;
    width: 100%;
    display: block;
    padding: 20px 25px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
    .navbar a:hover{
        background-color: #ddd;
        color: black;
    }
    
    .backdrop {
        display: flex;
        position: relative;
        margin: 15%;
        padding: 15px;
}
    .resume_content {
        background: ghostwhite;
        border: none;
        padding: 20px;
        box-shadow: -6px 29px 18px #777575;
        margin: 0px;
    }
        
    .resume_item .resume_info {
        background: yellow;
    }
    .semi-bold {
        font-weight: 600;
    }
    hr { 
        padding: 0;
        border: none; 
        border-top: medium double #8c8c8c; 
        color:#6caed5; 
        text-align: center; 
      } 
      hr { 
        border: 0;
        height: 4px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 3.75), rgba(0, 0, 0, 0));
    }