body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    top: 0;
    position: sticky;
    z-index: 2;
    background:red;
    border: 1px solid black;
    height: 70px;
}
.nav-bar {
    top: 0;
    position: sticky;
    z-index: 2;
}
.navigation ul {
    list-style: none;
    background: blueviolet;
    padding: 0;
    margin: 0;
    text-align: center;
}

.navigation li {
    display: inline-block;
}

.navigation a{
    text-decoration: none;
    color: #fff;
    width: 100px;
    display: block;
    padding: 25px 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.navigation a:hover{
    background: green;
}