
header {
    top: 0;
    position: sticky;
    z-index: 2;
    background:red;
    border: 1px solid black;
    height: 70px;
}
nav{
    background: #d9e3f9;
    height: 50px;
    border: 1px dotted #000;
}